/*
para  poner estilos a un elemento por id 

#nombre-id { aqui va el css }
*/
#titulo {
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
   }

   input {
   	padding:10px ;
   	margin: 5px;
   	border: 1px solid #ccc;
   	border-radius: 5px;
   }